---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}


<!-- Usage Notes:
We made this stitch to overlap the section below it, so if there's a patterned texture or image background on the next section below, it will overlap on top of it. Other Stitches like this would have a white gap between the cards an the next section. In order to make Stitches like this work, we need to add a padding top on the section below it to counteract the overlap. 

ON MOBILE (360px): add padding-top: (654/16rem); using LESS, or padding-top: calc(654 / 16 * 1rem); if you're using SCSS, or padding-top: 40.875rem; if you're just using vanilla CSS.

ON TABLET (768px): Reset to padding-top: (230/16rem); using LESS, padding-top: calc(230 / 16 * 1rem) for SCSS or padding-top: 15.625rem; for CSS

Doing this will complete the overlapping "breaking the container" look.
-->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1249">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Building Better, Together. Join Our Construction Journey</h1>
            <p class="cs-text">
                
            </p>
            <a href="" class="cs-button-solid">Get A Quote</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Standard</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/standardsign.jpg' | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/standardsign.jpg' | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/standardsign.jpg' | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Architectual</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/architectualsign.jpg' | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/architectualsign.jpg' | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/architectualsign.jpg' | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Custom</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/customsignage.jpg' | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/customsignage.jpg' | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/customsignage.jpg' | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/Mockup 1.jpg' | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/Mockup 1.jpg' | webp %}">
        <img decoding="async" src="{% getUrl '/assets/images/Mockup 1.jpg' | webp %}" alt="construction" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>






<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-2276">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/aboutsu1.jpg' | webp %}">
                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/aboutsu1.jpg' | webp %}">
                <img aria-hidden="true" decoding="async" src="{% getUrl '/assets/images/aboutsu1.jpg' | webp %}" alt="construction site" width="413" height="492" loading="lazy">
            </picture>
            <a href="" class="cs-button-solid">Read More</a>
        </div>
        <div class="cs-content">
            <div class="cs-header">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Creating Elegant Environments, One Detail At A Time</h2>
            </div>
            <div class="cs-wrapper">
                <div class="cs-flex">
                    <p class="cs-text">
                        At BuildStitch, we specialize in turning your dream projects into reality. From bespoke custom homes to intricate hardscaping and extensions, our expertise ensures a flawless journey from concept to completion. Whether you're planning a renovation or a ground-up build, our focus is on exceeding expectations every step of the way.
                    </p>
                    <img class="cs-signature" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/signature.png" decoding="async" loading="lazy" alt="signature" width="170" height="59" aria-hidden="true">
                    <span class="cs-name">William John</span>
                    <span class="cs-desc">Founder of Build Stitch</span>
                    <!--if you change this button class name, change the class name to rename it as well in the css at small desktop media query-->
                    <a href="" class="cs-button-solid">Get Started Today</a>
                </div>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/heroimage.png?updatedAt=1750962751964">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/heroimage.png?updatedAt=1750962751964">
                    <img aria-hidden="true" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/pdichicago/heroimage.png?updatedAt=1750962751964" alt="construction site" width="362" height="400" loading="lazy">
                </picture>
            </div>
        </div>
    </div>
</section>
                                








<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1254">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Professional Construction Services</h2>
            </div>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Awnings</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/awning.jpg' | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/awning.jpg' | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/awning.jpg' | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Installation Services</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/signinstall.jpg' | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/signinstall.jpg' | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/signinstall.jpg' | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Custom Metal Work</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/custommetal.jpg' | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/custommetal.jpg' | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/custommetal.jpg' | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Real Estate Signage</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/realestatesign.jpg' | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/realestatesign.jpg' | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/realestatesign.jpg' | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Printed Services</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/printedservices.jpg' | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/printedservices.jpg' | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/printedservices.jpg' | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Architectual Lighting</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/archlight.jpg' | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/archlight.jpg' | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/archlight.jpg' | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Banners</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/baners.jpg' | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/baners.jpg' | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/baners.jpg' | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Window Prints, Decals, Large fomat prints.</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/awning.jpg' | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/awning.jpg' | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/awning.jpg' | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-1823">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/whychooseus.jpg' | webp %}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/whychooseus.jpg' | webp %}">
                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/whychooseus.jpg' | webp %}" alt="body builder" width="562" height="568">
            </picture>
            <picture class="cs-floater">
                <img class="cs-floater-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/weights.svg" alt="icon" width="59" height="48">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">Amazing Features Of Stitch Gym</h2>
        </div>
        <div class="cs-flex">
            <div class="cs-box">
                <div class="cs-box-content" data-box="one">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-house.svg" alt="icon" width="62" height="62">
                    <h3 class="cs-h3">Our Mission & Approach</h3>
                    <p class="cs-box-text">
                        Take advantage of our spacious gym equipped with a wide range of gym fitness machines so you can achieve the maximum benefits.
                    </p>
                </div>
                <div class="cs-box-content cs-hidden" data-box="two">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-house.svg" alt="icon" width="62" height="62">
                    <h3 class="cs-h3">State of The Art Equipment</h3>
                    <p class="cs-box-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio ab officiis vel tenetur dolorem facilis odit cum molestias aperiam!
                    </p>
                </div>
                <div class="cs-box-content cs-hidden" data-box="three">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-house.svg" alt="icon" width="62" height="62">
                    <h3 class="cs-h3">Education & Top Trainers</h3>
                    <p class="cs-box-text">
                        Molestiae illo odit eum iure quas error autem quibusdam in natus iste tenetur molestias expedita pariatur, modi qui.
                    </p>
                </div>
                <div class="cs-box-content cs-hidden" data-box="four">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-house.svg" alt="icon" width="62" height="62">
                    <h3 class="cs-h3">Series Results Based 
                        on Training</h3>
                    <p class="cs-box-text">
                        Dicta cupiditate facilis ipsam impedit voluptatibus possimus iure ut distinctio, quo nisi. Adipisci, quos officiis asperiores quaerat delectus deserunt.
                    </p>
                </div>
            </div>
            <!--If you add more boxes and buttons, make sure to chnage the data attributes to increment. So if you added a 5th button, you'd need a data-filter="five" on the .cs-button and make a 5th cs-box with data-box="five" to match-->
            <div class="cs-button-group">
                <button class="cs-button cs-active" data-filter="one">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/house-1a.svg" alt="icon" width="32" height="32">
                    </picture>
                    <span class="cs-button-text">Our Mission & Approach</span>
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-arrow.svg" alt="icon" width="32" height="32">
                </button>
                <button class="cs-button" data-filter="two">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/hourglass-1a.svg" alt="icon" width="32" height="32">
                    </picture>
                    <span class="cs-button-text">State of The Art Equipment</span>
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-arrow.svg" alt="icon" width="32" height="32">
                </button>
                <button class="cs-button" data-filter="three">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/book-1a.svg" alt="icon" width="32" height="32">
                    </picture>
                    <span class="cs-button-text">Education & Top Trainers</span>
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-arrow.svg" alt="icon" width="32" height="32">
                </button>
                <button class="cs-button" data-filter="one">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/invoice-1a.svg" alt="icon" width="32" height="32">
                    </picture>
                    <span class="cs-button-text">Series Results Based on Training</span>
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-arrow.svg" alt="icon" width="32" height="32">
                </button>
            </div>
        </div>
    </div>
</section>





<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<!--
    To add a 5th or 6th gallery or more, copy and paste the cs-button and change it's data-filter to th next number, in this case it's 5. Do the dame to the cs-gallery and its data-category number. And thats it!
-->

<section id="gallery-1449">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Gallery</span>
                <h2 class="cs-title">Our Photo Gallery</h2>
            </div>
            <div class="cs-button-group">
                <button class="cs-button" data-filter="one">
                    All
                </button>
                <button class="cs-button" data-filter="two">
                    Global Warming
                </button>
                <button class="cs-button" data-filter="three">
                    Climate Strike
                </button>
                <button class="cs-button" data-filter="four">
                    Sustainable Energy
                </button>
            </div>
        </div>
        <div class="cs-gallery-wrapper">
            <!--Gallery 1-->
            <div class="cs-gallery" data-category="one">
                <!--Picture 1-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/imagssdfsde.png?updatedAt=1751313675821">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/imagssdfsde.png?updatedAt=1751313675821">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/pdichicago/imagssdfsde.png?updatedAt=1751313675821" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 2-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/imanksfge.png?updatedAt=1751313726866">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/imanksfge.png?updatedAt=1751313726866">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/pdichicago/imanksfge.png?updatedAt=1751313726866" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 3-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/imsufage.png?updatedAt=1751313752350">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/imsufage.png?updatedAt=1751313752350">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/pdichicago/imsufage.png?updatedAt=1751313752350" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 4-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/impeaage.png?updatedAt=1751313785752">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/impeaage.png?updatedAt=1751313785752">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/pdichicago/impeaage.png?updatedAt=1751313785752" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 5-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/image9008.png?updatedAt=1751313820106">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/image9008.png?updatedAt=1751313820106">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/pdichicago/image9008.png?updatedAt=1751313820106" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 6-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/image4456w.png?updatedAt=1751313852210">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/image4456w.png?updatedAt=1751313852210">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/pdichicago/image4456w.png?updatedAt=1751313852210" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 7-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/image98765.png?updatedAt=1751313887227">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/image98765.png?updatedAt=1751313887227">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/pdichicago/image98765.png?updatedAt=1751313887227" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 8-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/imag035e.png?updatedAt=1751314007153">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/pdichicago/imag035e.png?updatedAt=1751314007153">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/pdichicago/imag035e.png?updatedAt=1751314007153" alt="gallery" width="305" height="400">
                </picture>
            </div>
            <!--Gallery 2-->
            <div class="cs-gallery cs-hidden" data-category="two">
                <!--Picture 1-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 2-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/melting-ice.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/melting-ice.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/melting-ice.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 3-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/windmills.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/windmills.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/windmills.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 4-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign2.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign2.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign2.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 5-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/falling-rocks.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/falling-rocks.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/falling-rocks.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 6-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign4.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign4.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign4.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 7-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign3.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign3.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign3.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 8-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/desert-tree.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/desert-tree.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/desert-tree.jpeg" alt="gallery" width="305" height="400">
                </picture>
            </div>
            <!--Gallery 3-->
            <div class="cs-gallery cs-hidden" data-category="three">
                <!--Picture 1-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 2-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/melting-ice.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/melting-ice.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/melting-ice.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 3-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/windmills.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/windmills.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/windmills.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 4-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign2.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign2.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign2.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 5-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/falling-rocks.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/falling-rocks.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/falling-rocks.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 6-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign4.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign4.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign4.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 7-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign3.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign3.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign3.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 8-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/desert-tree.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/desert-tree.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/desert-tree.jpeg" alt="gallery" width="305" height="400">
                </picture>
            </div>
            <!--Gallery 4-->
            <div class="cs-gallery cs-hidden" data-category="four">
                <!--Picture 1-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 2-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/melting-ice.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/melting-ice.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/melting-ice.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 3-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/windmills.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/windmills.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/windmills.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 4-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign2.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign2.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign2.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 5-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/falling-rocks.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/falling-rocks.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/falling-rocks.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 6-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign4.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign4.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign4.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 7-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign3.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign3.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign3.jpeg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 8-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/desert-tree.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/desert-tree.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/desert-tree.jpeg" alt="gallery" width="305" height="400">
                </picture>
            </div>
        </div>
    </div>
</section>
                                
                                
                                





<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Customer Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Britney Allison
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Brooklyn Simmons
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot2.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Cameron Williamson
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
        </ul>
    </div>
</section>
                                
                                


                 
                            
                                

    
    {% include 'sections/cta.html' %}
{% endblock %}